---
const { title = "Default title", description = "Default description" } =
	Astro.props;
---

<meta charset="utf-8" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="description" content={`${description}`} />
<meta
	name="keywords"
	content="Imponte Roleplay, Imponte RP, GTA 5 RP serwer, FiveM RP serwer, GTA V roleplay, najlepszy serwer RP, realistyczny RP, GTA 5 roleplay, serwer GTA V, roleplay społeczność, FiveM roleplay, serwer RP, Los Santos RP, gry roleplay, serwer GTA 5 FiveM, custom skrypty RP, ekonomia RP, realistyczne RP, postacie RP, przygody GTA 5 RP."
/>

<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
/>

<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css"
/>

<link href="./css/hamburgers.css" rel="stylesheet" />
