---
import Link from "../../components/common/Link.astro";
import LinkButton from "../../components/common/LinkButton.astro";
---

<nav class="nav">
	<div class="wrapper">
		<div class="nav__container">
			<Link href="./">
				<img class="nav__logo" src="./logo.png" alt="Imponte Roleplay Logo" />
			</Link>
			<div class="nav__link-box">
				<Link href="./#about">O serwerze</Link>
				<Link href="./#features">Mechaniki</Link>
				<Link href="./regulamin">Regulamin</Link>
				<div class="nav__link-box--btn-box">
					<LinkButton href="https://discord.gg/SYFyCYMXxg" targetBlank
						>Discord <i class="fa-brands fa-discord"></i></LinkButton
					>
					<LinkButton href="https://www.youtube.com/" targetBlank shape="circle"
						><i class="fa-brands fa-youtube"></i></LinkButton
					>
				</div>
			</div>
			<button
				class="nav__hamburger-btn hamburger hamburger--slider"
				type="button"
			>
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
		</div>
	</div>
</nav>
<div class="nav__menu">
	<div class="nav__menu-container">
		<Link href="./#about" hover="color">O serwerze</Link>
		<Link href="./#features" hover="color">Mechaniki</Link>
		<Link href="./regulamin" hover="color">Regulamin</Link>
		<Link href="https://discord.gg/SYFyCYMXxg" targetBlank hover="color"
			>Discord</Link
		>
		<Link href="https://www.youtube.com/" targetBlank hover="color"
			>Youtube</Link
		>
	</div>
</div>

<!-- Nav mobile menu -->
<script src="../../js/components/nav.js"></script>
