---
// Layout
import LayoutMain from "../layouts/LayoutMain.astro";

// Components
import SectionTitle from "../components/common/SectionTitle.astro";

import Button from "../components/common/Button.astro";
import LinkButton from "../components/common/LinkButton.astro";
import Link from "../components/common/Link.astro";

const head = {
	title: "Imponte Roleplay | Strona główna",
	description:
		"Dołącz do serwera Imponte Roleplay w GTA 5 i zanurz się w realistycznym świecie pełnym przygód i możliwości! Nasz serwer oferuje unikalne skrypty, rozbudowaną ekonomię oraz dynamiczną społeczność. Zostań kim chcesz - policjantem, przedsiębiorcą, gangsterem - i twórz własne historie w Los Santos. Dołącz do nas już dziś i sprawdź, dlaczego Imponte Roleplay to najlepszy wybór dla fanów GTA RP!",
};
---

<LayoutMain title=`${head.title}` description=`${head.description}`>
	<main>
		<div class="background-gradient__container">
			<div class="background-gradient--1"></div>
			<div class="background-gradient--2"></div>
			<div class="background-gradient--3"></div>
		</div>

		<header class="header">
			<div class="header__text-box">
				<h1>
					<span class="text-gradient__main">IMPONTE</span><br /><span
						class="text-gradient__shadow">ROLEPLAY</span
					>
				</h1>
				<p>
Serwer oferujący przyjemną oraz realistyczną rozgrywkę.
				</p>
			</div>
		</header>

		<section class="about section-padding" id="about">
			<SectionTitle tac title="Więcej informacji" subtitle="O serwerze" />
			<div class="wrapper">
				<div class="about__container">
					<div class="about__box">
						<h3>Doskonała optymiazacja</h3>
						<p class="about__box-text">
Doskonała optymalizacja na naszym serwerze sprawia, że wszystko działa szybciej i sprawniej. Dzięki temu gracze mogą cieszyć się płynną oraz przyjemną rogrywką.
						</p>
					</div>
					<div class="about__box about__box--img about__box--img--1 border">
						<div class="about__box-content"></div>
					</div>
				</div>
				<div class="about__container about__container--right">
					<div class="about__box">
						<h3>Autorskie skrypty</h3>
						<p class="about__box-text">
Na naszym serwerze używamy swoich autorskich skryptów stworzonych przez naszych developerów. Są one dostosowane do potrzeb naszego serwera oraz dzięki nim możemy automatyzować wiele zadań i oszczędzać czas.
						</p>
					</div>
					<div class="about__box about__box--img about__box--img--2 border">
						<div class="about__box-content"></div>
					</div>
				</div>
			</div>
		</section>

		<section class="features section-padding" id="features">
			<div class="wrapper">
				<SectionTitle
					title="Dlaczego warto wybrać nasz serwer?"
					subtitle="Nasze innowacyjne mechaniki"
				/>
				<div class="features__container">
					<div class="features__box border">
						<div class="features__box-content">
							<h4>Profesjonalna Administracja</h4>
							<p>
							Nasza administracja jest zawsze dostępna, aby zapewnić płynne działanie serwera oraz rozwiązywać wszelkie problemy techniczne czy konflikty między graczami. Dążymy do utrzymania wysokiego standardu rozgrywki i fair play.
							</p>
						</div>
					</div>
					<div class="features__box border">
						<div class="features__box-content">
							<h4>Unikalne Systemy i Skrypty</h4>
							<p>
							Korzystamy z zaawansowanych skryptów i systemów, które wzbogacają rozgrywkę i dodają jej głębi. Od zaawansowanych ekonomii po dynamiczne wydarzenia – każdy znajdzie coś dla siebie.
							</p>
						</div>
					</div>
					<div class="features__box border">
						<div class="features__box-content">
							<h4>Regularne Wydarzenia i Aktualizacje</h4>
							<p>
							Regularnie organizujemy różnorodne wydarzenia tematyczne i wprowadzamy nowe aktualizacje, które utrzymują rozgrywkę świeżą i interesującą. Każdego miesiąca gracze mogą spodziewać się nowych wyzwań i atrakcji.
							</p>
						</div>
					</div>
					<div class="features__box features__box--mobile-off border">
						<div class="features__box-content">
							<h4>Szansa na Rozwój Umiejętności</h4>
							<p>
							Roleplaying to świetna okazja do rozwijania umiejętności aktorskich, kreatywnego pisania oraz improwizacji. Gra na naszym serwerze pozwala na doskonalenie tych umiejętności w praktyce, co może być nie tylko satysfakcjonujące, ale i przydatne w codziennym życiu.
							</p>
						</div>
					</div>
					<div class="features__box features__box--mobile-off border">
						<div class="features__box-content">
							<h4>Wsparcie Techniczne i Poradniki</h4>
							<p>
							Oferujemy szerokie wsparcie techniczne oraz liczne poradniki, które pomagają nowym graczom szybko odnaleźć się w świecie roleplay. Niezależnie od doświadczenia, każdy gracz może liczyć na pomoc i wskazówki, aby jak najszybciej zacząć cieszyć się grą.
							</p>
						</div>
					</div>
					<div class="features__box features__box--mobile-off border">
						<div class="features__box-content">
							<h4>Możliwość Wpływu na Rozwój Serwera</h4>
							<p>
							Opinie graczy są dla nas bardzo ważne. Regularnie zbieramy sugestie i pomysły od naszej społeczności, co pozwala nam na ciągłe udoskonalanie serwera. Dołączając do nas, masz realny wpływ na kształtowanie i rozwój świata gry, w którym uczestniczysz.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="join-us section-padding">
			<div class="wrapper">
				<SectionTitle
					tac
					title="Dołącz do naszej społeczności już dziś!"
					subtitle="Na co jeszcze czekasz?"
				/>
				<div class="join-us__container">
					<div class="join-us__btn-box">
						<LinkButton href="./"
							>Discord <i class="fa-brands fa-discord"></i></LinkButton
						>
						<LinkButton href="./"
							>YouTube <i class="fa-brands fa-youtube"></i></LinkButton
						>
					</div>
				</div>
			</div>
		</section>
	</main>
</LayoutMain>

<script src="../js/components/border-glow.js"></script>
