---
// Layout
import LayoutMain from "../layouts/LayoutMain.astro";

// Components
import SectionTitle from "../components/common/SectionTitle.astro";

const head = {
	title: "Regulamin | Imponte Roleplay",
	description:
		"Zapoznaj się z regulaminem serwera Imponte Roleplay, aby zapewnić sobie i innym graczom najlepsze doświadczenie w świecie GTA RP. Przeczytaj zasady dotyczące rozgrywki, zachowania oraz obowiązków każdego członka społeczności. Przestrzeganie regulaminu gwarantuje bezpieczną i przyjemną grę dla wszystkich uczestników. Dowiedz się więcej i dołącz do naszej społeczności!",
};
---

<LayoutMain title=`${head.title}` description=`${head.description}`>
	<div class="background-gradient__container">
		<div class="background-gradient--2"></div>
		<div class="background-gradient--4"></div>
	</div>

	<section class="terms">
		<div class="wrapper">
			<SectionTitle
				tac
				title="Zapoznaj się z regulaminem naszego serwera"
				subtitle="Regulamin serwera"
			/>
			<div class="terms__container">
				<!-- Boxy -->
				<div class="terms__box border">
					<div class="terms__box-content">
						<h4>1.Pojęcia RolePlay</h4>
						<ol>
							<li>(OOC) Out Of Character - Świat rzeczywisty. Wszystko co nie jest związane z rozgrywką</li>
							<li>(IC) In Character - Świat w którym żyje postać. Wszystko co jest związane z rozgrywką</li>
							<li>(MG) Meta Gaming - Wykorzystywanie informacji zdobytych OOC w IC</li>
							<li>(PG) Power Gaming - Zmuszenie innego gracza do akcji RolePlay</li>
							<li>(FD) Fail Driving - Nierealistyczne poruszanie się pojazdem</li>
							<li>(RK) Revenge Kill - Wprowadzenie drugiego gracza w stan BW w ramach zemsty</li>
							<li>(BW) Brutally Wounded - Wprowadzenie postaci w stan obrażeń do takiego stopnia gdy nie jest w stanie samemu się poruszać</li>
							<li>(CL) Combat Log - Opuszczenie serwera w trakcie trwającej akcji RolePlay</li>
							<li>(CK) Character Kill - Uśmiercenie postaci przez siebie samego</li>
							<li>(FCK) Forced Character Kill - Uśmiercenie postaci z przez kogoś</li>
							<li>(RDM) Random Deathmatch - Strzelanie do graczy i NPC bez żadnego powodu</li>
							<li>(VDM) Vehicle DeathMatch - Rozjeżdżanie graczy i NPC bez żadnego powodu</li>
							<li>(CN) Celebrity Name - Nazywanie swojej postaci używając danych popularnych osób ze świata rzeczywistego</li>
							<li>(CB) Cop Baiting - Celowe prowokowanie policji żeby wymusić akcję RolePlay</li>
							<li>MetaZwroty - Zdania które mają na celu poinformować drugą osobę o problemach z grą, które najczęściej nie mają sensu w świecie realnym np: ,,Zaraz będzie zaćmienie" (restart), ,,Mam krople" (lagi), ,,Bóg mi powiedział" (Odpowiedź administratora) itp.</li>
						</ol>
					</div>
				</div>

				<div class="terms__box border">
					<div class="terms__box-content">
						<h4>2.Ogólne zasady</h4>
						<ol>
							<li>Zakazane jest korzystanie z aplikacji 3, bugów, cheatów na swoją korzyść.</li>
							<li>Zakazane jest przenoszenie swojego majątku między swoimi postaciami.</li>
							<li>Zakazane jest odgrywanie słowne. Do tego służą komendy narracyjne.</li>
							<li>Zakazane jest stosowanie: MG, PG, FD, RK, CL, RDM, VDM, CN, i CB.</li>
							<li>Zakazane jest nadużywanie czatu OOC.</li>
							<li>Zakazane są akcje typu gwałt itp. (wyjątek to zgoda drugiej osoby).</li>
							<li>Zakazane jest korzystanie z komuniaktorów głosowych (Discord, TeamSpeak, itp.) podczas gry na serwerze.</li>
							<li>Zakazuje się nawiązywania do Polski lub jej kultury (słuchanie, śpiewanie Polskich piosenek | Tworzenie postaci o Polskim imieniu nazwisku (Chyba że jest to uzasadnione) Itp.).</li>
							<li>Zakazuję się używania komendy ,,Report" bez wyraźnego powodu, komenda ta służy do zgłaszania błędów podzczas rozgrywki.</li>
							<li>Nakazane jest posiadanie takiego samego nicku w grze (steam) jak na discordzie w celu łatwiejszej weryfikacji.</li>
							<li>W sytuacji gdy zostaniesz wyrzucony z gry podzczas akcji RolePlay , powinieneś poinformować o tym drugą osobę wysyłając screenshota crasha na kanał do tego przeznaczony z wyraźnie widoczną datą oraz godziną. Następnie musisz wrócić na serwer aby kontynuować akcję (Jeśli z jakiegoś powodu nie możesz wrócić powinieneś poinformować o tym drugą osobę oraz administrację).</li>
						</ol>
					</div>
				</div>

				<div class="terms__box border">
					<div class="terms__box-content">
						<h4>3.Zasady podczas rozgrywki</h4>
						<ol>
							<li>Powinieneś zawsze odgrywać swoją postać w sposób konsekwentny , szanując swoje cenne życie.</li>
							<li>Nigdy (nie ważne od sytuacji) nie powinieneś wychodzić z roli.</li>
							<li>Zakazane jest używanie MetaZwrotów podczas rozgrywki na serwerze.</li>
							<li>Zakazane jest posługiwanie się nazwami marek OOC. cała rozpiska marek w uniwersum GTA znajduje się na kanale: #lore.</li>
							<li>Zamaskowana osoba nie może zostać rozpoznana bo głosie.</li>
							<li>Każde porwanie, napadnięcie drugiej osoby powinno mieć ważny powód IC</li>
							<li>Zakazuje się rozpoczynania akcji agresywnych typu: porwania czy strzelanina w miejscach gdzie immersyjnie jest dużo świadków czy kamer np: lotnisko, szpital, komisariat, itp..</li>
						</ol>
					</div>
				</div>

				<div class="terms__box border">
					<div class="terms__box-content">
						<h4>4.Limity</h4>
						<ol>
							<li>Na naszym serwerze odchodzimy od polityki limitów na akcję RolePlay. lecz przestrzegamy przed nadużywaniem tego ponieważ będzie to karane.
Sytuacje typu: napad na bank w którym bierze udział 4 napastników, a funkcjonariuszy policji na miejscu jest 20 będą uznawana za mustwin.
Prosimy racjonalnie dobierać ilość osób do danej akcji RolePlay tak aby druga strona miała jakieś szanse..</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
</LayoutMain>

<script src="../js/components/border-glow.js"></script>
